.bs-form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    .title{
        color: $clr-black;
        font-family: $fnt-popins;
        font-size: 36px;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 66px;
        position: relative;


    }
    .er_box{
        position: relative;
        
        .txt-error{
            content: "";
            position: absolute;
            width: 450px;
            // height: 48px;
            background-color: red;
            padding: 12px 8px;
            font-family: $fnt-Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 142%;
            color: $clr-white;
            border-radius: 15px;
            bottom: 10px;
            left: 0;
            border-radius: 8px;
            border: 1px solid  #CC1E13;
            background:  #FF3838;
            margin-bottom: 0;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 3px 4px -5px rgba(0, 0, 0, 0.03);
        }
    }
    .text-title{
        color: $clr-black;
        font-family: $fnt-popins;
        font-size: 26px;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 9px;
    }
    input{
        
        color: $clr-black;
        font-family: $fnt-popins;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        padding-bottom: 8px;
        border: none;
        border-bottom: 2px solid $clr-theme;
        margin-bottom: 22px;

        &::placeholder{
            color: $clr-grey;
        }
        &:focus-visible{
            box-shadow: none;
        }


        &:focus {   
            background: transparent; /* Set the background color to transparent */
        }

        &:active{
            border: 1px solid $clr-theme;
        } 

       
    }
    .flex-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;

        .redirect-link{
            // transition: all 0.3s;
            &.typ-grey{
                color: $clr-grey;
                font-family: $fnt-popins;
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
                position: relative;
                text-decoration: none;
                transition: all 0.3s;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2px; /* Adjust the spacing between text and underline */
                    left: 0;
                    width: 100%;
                    height: 2px; /* Adjust the underline thickness */
                    background-color: $clr-grey; /* Color of the underline */
                   
                }
            }
            &.typ-theme{
                color: $clr-theme;
                font-family: $fnt-popins;
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
                position: relative;
                text-decoration: none;
                transition: all 0.3s;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2px; /* Adjust the spacing between text and underline */
                    left: 0;
                    width: 100%;
                    height: 2px; /* Adjust the underline thickness */
                    background-color: $clr-theme; /* Color of the underline */
                   
                }
            }
            &:hover{
                opacity: 0.8;
                transition: all 0.3s;
            }
        }

       
    }
    .btn-submit{
        color: $clr-white;
        font-family: $fnt-popins;
        font-size: 18px;
        font-weight: 500;
        line-height: 110%;
        min-width: 130px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: $clr-theme;
        border: none;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s;
        border: 2px solid $clr-theme; 

        

        &:hover{
            color: $clr-theme;
            background-color: $clr-white;
            transition: all 0.3s;
            border: 2px solid $clr-theme;   
        }
        &.active{
            color: $clr-white;
            background-color: $clr-theme;
           
            // transition: all 0.3s;
        }

        &:active{
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            transition: none; 
        }
    }
}
@media (max-width: $desktop-breakpoint) {
    .bs-form{
        max-width: 400px;
     
        .title{
       
            font-size: 26px;
            margin-bottom: 66px;
        }
        .er_box{
            .txt-error{
              
                width: 350px;
                padding: 10px 8px;
                font-family: $fnt-Inter;
                font-size: 12px;
            }
        }
        .text-title{
            font-size: 18px;
            margin-bottom: 9px;
        }
        input{
            font-size: 12px;
            margin-bottom: 22px;
        }
        .flex-content{
            margin-bottom: 22px;
            .redirect-link{
                // transition: all 0.3s;
                &.typ-grey{
                    font-size: 12px;
                }
                &.typ-theme{
                    font-size: 12px;
                }
            }
        }
        .btn-submit{
            font-size: 14px;
            min-width: 120px;
            height: 40px;
            border-radius: 12px;
        }
    }
}

@media (max-width: $tablet-breakpoint) {
    .bs-form{
        max-width: 320px;
     
        .title{
       
            font-size: 24px;
            // margin-bottom: 50px;
        }
        .text-title{
            font-size: 16px;
            margin-bottom: 9px;
        }
        input{
            font-size: 12px;
            margin-bottom: 16px;
        }
        .flex-content{
            margin-bottom: 22px;
            .redirect-link{
                // transition: all 0.3s;
                &.typ-grey{
                    font-size: 12px;
                }
                &.typ-theme{
                    font-size: 12px;
                }
            }
        }
        .btn-submit{
            font-size: 12px;
            min-width: 100px;
            height: 32px;
            border-radius: 8px;
        }
    }
}

@media (max-width: $sml-mobile-breakpoint) {
    .bs-form{
        max-width: 100%;

        .er_box{
            .txt-error{
              
                width: 100%;
               
            }
        }

        .flex-content{
            .redirect-link{
                &.typ-grey{
                    &::after {
                        height: 1px; /* Adjust the underline thickness */
                    }
                }
                &.typ-theme{
                    &::after {
                        height: 1px; /* Adjust the underline thickness */
                    }
                }
            }
        }
        }

        
}

